<!DOCTYPE html>
<html lang="en">
<head>
    <title>CarMECHANIC</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    
    <script src="https://kit.fontawesome.com/953d78f563.js"></script>
    <!------ Include the above in your HEAD tag ---------->
    
    <script src="https://kit.fontawesome.com/953d78f563.js"></script>

    <!------ Include the above in your HEAD tag ---------->

    <link rel="stylesheet" href="../CSS/Cadastro.css">
</head>
<body>
    
        <div class="wrapper fadeInDown ">
            <div id="formContent">
                    <!-- Tabs Titles -->
            
                    <!-- Icon -->
                <div class="fadeIn first "><br><br>
                    <form class="align">
                    <div class="row register-form ">
                        <div class="col-md-12 ">
                            <div class="form-group">
                                
                                <input type="text" class="form-control align" placeholder="Nome *" value="" />
                            </div>
                            <div class="form-group">
                                <input type="text" class="form-control" placeholder="Sobrenome *" value="" />
                            </div>
                            <div class="form-group">
                                <input type="text" class="form-control" placeholder="E-mail *" value="" />
                             </div>
                            <div class="form-group">
                                <input type="text" class="form-control" placeholder="Cracha Funcionario *" value="" />
                            </div>
                            <div class="form-group">
                                <input id="senha" type="password" class="form-control" placeholder="Senha *" value="" />
                            </div>
                            <div class="form-group">
                                <input type="password" class="form-control" placeholder="Confirme sua Senha *" data-match="#senha" data-match-error="As senhas não conferem!"  />
                            </div>
                            <class="row">
                            <div>
                                <input  type="submit" class=" btnRegister"  value="Registrar" />
                            </div>
                             </class>
                            <div id="formFooter"> 
                                    <a class="underlineHover" href="login.html">Fazer Login  </a>
                                    
                             </div>
                        </form>
                    </div>
                </div>   
            </div>
         </div>
     </div>
    
</body>

</html>