<!DOCTYPE html>
<html lang="en">
<head>
    <title>CarMECHANIC</title>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <!--IMPORTAÇÕES-->
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://kit.fontawesome.com/953d78f563.js"></script>

    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet">

    <script src="https://browser.sentry-cdn.com/5.1.1/bundle.min.js" crossorigin="anonymous"></script>


    <script
            src="https://code.jquery.com/jquery-3.4.0.min.js"
            integrity="sha256-BJeo0qm959uMBGb65z40ejJYGSgR7REI4+CW1fNKwOg="
            crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/1000hz-bootstrap-validator/0.11.9/validator.min.js"></script>
    <script src="JS/jquery.inputmask.bundle.js"></script>

    <link rel="stylesheet" href="../CSS/Cadastro.css">
</head>
<body>
    <div class="centro">
        <img src="../img/logoPNG.png" />
    </div> 
    <div class="wrapper fadeInDown ">
        <div id="formContent">    
            <div class="fadeIn first "><br><br>
                <form class="align form-validator" form-validator="cadastro" role="form" method="post">
                    <div class="row register-form ">
                        <div class="col-md-12 ">
                            <div class="form-group">
                                <input type="text" class="form-control align" name="nome" placeholder="Nome *" value="" required/>
                                <div class="help-block with-errors"></div>
                            </div>
                            <div class="form-group">
                                <input type="text" class="form-control" name="sobrenome" placeholder="Sobrenome *" value="" required/>
                                <div class="help-block with-errors"></div>
                            </div>
                            <div class="form-group">
                                <input type="text" class="form-control" name="cracha" placeholder="Cracha Funcionario *" value="" required/>
                                <div class="help-block with-errors"></div>
                            </div>
                            <div class="form-group">
                                <div>
                                    <input id="senha" type="password" name="senha" class="form-control form-control-user" placeholder="Senha *" value="" required/>
                                    <div class="help-block with-errors"></div>
                                </div>
                                <br>
                                <div class="form-group">
                                    <input type="password" class="form-control form-control-user" placeholder="Confirme sua Senha *" data-match="#senha" data-match-error="As senhas não conferem!" required/>
                                    <div class="help-block with-errors"></div>
                                </div>
                            </div>
                            <div>
                                <button type="submit" class="btnRegister" value="Registrar">Registrar</button>
                            </div>
                            <div class="alert d-none mt-4" role="alert"></div>
                        </div>
                    </div>  
                </form>
                <div id="formFooter">
                    <a class="underlineHover" href="login.html">Fazer Login</a>
                </div>
            </div>
        </div>
    </div>
    <script src="JS/validator.js"></script>
</body>
</html>