<!DOCTYPE html>
<html lang="en">

<head>
    <title>CarMECHANIC</title>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <!--IMPORTAÇÕES-->
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://kit.fontawesome.com/953d78f563.js"></script>
    <script src="JS/validator.js"></script>

    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css"
          integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet">

    <script src="https://browser.sentry-cdn.com/5.1.1/bundle.min.js" crossorigin="anonymous"></script>


    <script
            src="https://code.jquery.com/jquery-3.4.0.min.js"
            integrity="sha256-BJeo0qm959uMBGb65z40ejJYGSgR7REI4+CW1fNKwOg="
            crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/1000hz-bootstrap-validator/0.11.9/validator.min.js"></script>
    <script src="JS/jquery.inputmask.bundle.js"></script>

    <link rel="stylesheet" href="../CSS/Cadastro.css">
</head>

<body>
<div class="centro">
    <img src="../img/logoPNG.png"/>
</div>
<div class="wrapper fadeInDown ">
    <div id="formContent">
        <div class="fadeIn first col-md-12"><br><br>
            <form class="align form-validator" form-validator="servico" role="form" method="post">
                <div class="row register-form ">
                    <div class="col-md-12 ">
                        <div class="form-group">
                            <input type="text" class="form-control" placeholder="Nome Cliente *" value="" required/>
                        </div>
                        <div class="form-group">
                            <input type="text" class="form-control align " placeholder="Veiculo *" value="" required/>
                        </div>
                        <div class="form-group">
                            <input type="text" class="form-control" placeholder="Placa *" value="" required/>
                        </div>
                        <div class="form-group">
                            <input type="text" class="form-control" placeholder="Data *" value="" required/>
                        </div>
                        <div class="form-group">
                            <input type="text" class="form-control" placeholder="Mecanico Responsavel *" value="" required/>
                        </div>
                        <div class="form-group align col-md-12">
                            <textarea class="form-control" rows="10" cols="47" placeholder="Descrição do serviço realizado" required></textarea>
                        </div>
                        <div>
                            <input type="submit" class=" btnRegister" value="Salvar" required/>
                        </div>
                        <div id="formFooter">
                            <a class="underlineHover" href="Agendamento.html">Agendar Serviço -</a>
                            <a class="underlineHover" href="Horarios.html">- Vizualizar agendamentos </a>
                        </div>
                        <div class="alert d-none mt-4" role="alert"></div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
<script src="JS/validator.js"></script>
</body>
</html>