<!DOCTYPE html>
<html lang="en">

<head>
    <title>CarMECHANIC</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="JS/validator.js"></script>
    <script src="https://kit.fontawesome.com/953d78f563.js"></script>
    <!------ Include the above in your HEAD tag ---------->

    <script src="https://kit.fontawesome.com/953d78f563.js"></script>

    <!------ Include the above in your HEAD tag ---------->

    <link rel="stylesheet" href="../CSS/Cadastro.css">
</head>

<body>
    <div class="centro">
        <img src="../img/logoPNG.png" />
    </div>

    <div class="wrapper fadeInDown ">
        <div id="formContent">
            <!-- Tabs Titles -->

            <!-- Icon -->
            <div class="fadeIn first col-md-17"><br><br>
                <form class="align form-validator" form-validator="servico">
                    <div class="row register-form ">
                        <div class="col-md-12 ">
                            <div class="form-group">

                                <input type="text" class="form-control align " placeholder="Veiculo *" value="" />
                            </div>
                            <div class="form-group">
                                <input type="text" class="form-control placeholder="Placa *" value="" />
                            </div>
                            <div class="form-group">
                                <input type="text" class="form-control" placeholder="Data *" value="" />
                            </div>
                            <div class="form-group col-md-12">
                                <textarea class="form-control  " rows="10" cols="47"
                                    placeholder="Ordem de serviço"></textarea>
                            </div>

                            <div class="row">
                                <div>
                                    <input type="submit" class=" btnRegister" value="Salvar" />
                                </div>
                                <div id="formFooter">
                                    <a class="underlineHover" href="Agendamento.html">Agendar horario - </a>
                                    <a class="underlineHover" href="Horarios.html"> - Horarios agendados </a>

                                </div>

                            </div>
                            <div class="alert d-none mt-4" role="alert"></div>
                        </div>
                    </div>

                </form>
            </div>
        </div>
    </div>
    </div>
    </div>

</body>

</html>