<!DOCTYPE html>
<html lang="en">
<head>
    <title>CarMECHANIC</title>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <!--IMPORTAÇÕES-->
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://kit.fontawesome.com/953d78f563.js"></script>

    <link rel="stylesheet" href="../CSS/Historico.css">
</head>
<body>
    <div class="centro">
        <img src="../img/logoPNG.png" />
    </div> 
    <div class="wrapper fadeInDown ">
        <div id="formContent">    
            <div class="fadeIn first alignCenter"><br>
                <div>
                    <table>
                        <tr>
                            <th>CORSA AMARELO</th>
                        </tr>
                        <tr>
                            <th>NOME: MC CHAMPIONS</th>
                        </tr>
                        <tr>
                            <td><h2>Dia:06/07/2019</h2></td>
                        </tr>
                    </table>
                </div>
                <hr>
                <div>
                    <table>
                        <tr>
                            <th>PARATI PRATA</th>
                        </tr>
                        <tr>
                            <th>NOME: NATÃ MICHEL</th>
                        </tr>
                        <tr>
                            <td><h2>Dia:06/07/2019</h2></td>
                        </tr>
                    </table>
                </div>
                <hr>
                <div>
                    <table>
                        <tr>
                            <th>CHEVETTE AZUL</th>
                        </tr>
                        <tr>
                            <th>NOME: MC ZOIO DE GATO</th>
                        </tr>
                        <tr>
                            <td><h2>Dia:06/07/2019</h2></td>
                        </tr>
                    </table>
                </div>
            </div>
            <div id="formFooter">
                    <a class="underlineHover" href="Formulario.html">- Realizar Serviço -</a> 
            </div>
        </div>
    </div>
   
</body>
</html>